Flask==0.10.1
Flask-Cors==2.1.0
Flask-Sockets==0.2.0

awesome-slugify==1.6.5
candv>=1.2.0
gunicorn==19.3.0
honcho==0.6.6
python-Levenshtein==0.12.0
six>=1.6.1
ujson==1.33
Unipath==1.1

# Waiting for githubpy==1.1.1 to be released
-e git+https://github.com/michaelliao/githubpy.git#egg=githubpy

-e git+https://github.com/IL2HorusTeam/il2fb-commons.git#egg=il2fb-commons
-e git+https://github.com/IL2HorusTeam/il2fb-difficulty.git#egg=il2fb-difficulty
-e git+https://github.com/IL2HorusTeam/il2fb-events-parser.git#egg=il2fb-events-parser
-e git+https://github.com/IL2HorusTeam/il2fb-mission-parser.git#egg=il2fb-mission-parser
