Flask==0.10.1
Flask-Sockets==0.1
Flask-Cors==2.1.0

gunicorn==19.3.0
six==1.9.0

-e git+https://github.com/IL2HorusTeam/il2fb-commons.git#egg=il2fb-commons
-e git+https://github.com/IL2HorusTeam/il2fb-difficulty.git#egg=il2fb-difficulty

-r project/bug_reporter/requirements.txt
